<div class="order-container">
	<div class="row">
		<div class="col-sm-4">
			<nb-card class="pricing">
				<nb-card-header>
					<span>basic</span>
					<span>This is really a good deal!</span>
				</nb-card-header>
				<nb-card-body>
					<span class="price monthly">330</span>
					<ul class="features">
						<li>30 days</li>
						<li>5 calculations/day</li>
						<li>10 nodes maximum</li>
						<li>4 results maximum</li>
					</ul>
				</nb-card-body>
				<nb-card-footer>
					<button class="btn btn-primary">Sign up</button>
				</nb-card-footer>
			</nb-card>
		</div>
		<div class="col-sm-4">
			<nb-card class="pricing suggested">
				<nb-card-header>
					<span>starter</span>
					<span>This is really a good deal!</span>
				</nb-card-header>
				<nb-card-body>
					<span class="price monthly">405</span>
					<ul class="features">
						<li>30 days</li>
						<li>5 calculations/day</li>
						<li>No maximum complexity</li>
						<li>All available results</li>
					</ul>
				</nb-card-body>
				<nb-card-footer>
					<button class="btn btn-primary">Sign up</button>
				</nb-card-footer>
			</nb-card>
		</div>
		<div class="col-sm-4">
			<nb-card class="pricing">
				<nb-card-header>
					<span>professional</span>
					<span>This is really a good deal!</span>
				</nb-card-header>
				<nb-card-body>
					<span class="price monthly">525</span>
					<ul class="features">
						<li>30 days</li>
						<li>Unlimited calculations/day</li>
						<li>No maximum complexity</li>
						<li>All available results</li>
					</ul>
				</nb-card-body>
				<nb-card-footer>
					<button class="btn btn-primary">Sign up</button>
				</nb-card-footer>
			</nb-card>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-4">
			<nb-card class="pricing">
				<nb-card-header>
					<span>basic</span>
					<span>This is really a good deal!</span>
				</nb-card-header>
				<nb-card-body>
					<span class="price yearly">2000</span>
					<ul class="features">
						<li>365 days</li>
						<li>5 calculations/day</li>
						<li>10 nodes maximum</li>
						<li>4 results maximum</li>
					</ul>
				</nb-card-body>
				<nb-card-footer>
					<button class="btn btn-primary">Sign up</button>
				</nb-card-footer>
			</nb-card>
		</div>
		<div class="col-sm-4">
			<nb-card class="pricing suggested">
				<nb-card-header>
					<span>pop</span>
					<span>This is really a good deal!</span>
				</nb-card-header>
				<nb-card-body>
					<span class="price yearly">3000</span>
					<ul class="features">
						<li>365 days</li>
						<li>5 calculations/day</li>
						<li>No maximum complexity</li>
						<li>All available results</li>
					</ul>
				</nb-card-body>
				<nb-card-footer>
					<button class="btn btn-primary">Sign up</button>
				</nb-card-footer>
			</nb-card>
		</div>
		<div class="col-sm-4">
			<nb-card class="pricing">
				<nb-card-header>
					<span>premium</span>
					<span>This is really a good deal!</span>
				</nb-card-header>
				<nb-card-body>
					<span class="price yearly">4000</span>
					<ul class="features">
						<li>365 days</li>
						<li>Unlimited calculations/day</li>
						<li>No maximum complexity</li>
						<li>All available results</li>
					</ul>
				</nb-card-body>
				<nb-card-footer>
					<button class="btn btn-primary">Sign up</button>
				</nb-card-footer>
			</nb-card>
		</div>
	</div>
</div>