<div class="row" *ngIf="(_project | async) as project; else loading">
  <div class="col-sm-12">
    <div class="row" *ngIf="_errorMessage">
        <nb-alert status="danger">
          {{_errorMessage}}
        </nb-alert>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <nb-card size="large" style="height: 100%;">
          <!-- <threeviewer [model]="project"></threeviewer> -->
        </nb-card>
      </div>
    </div>

  </div>
</div>

<ng-template #loading>
  <spinner></spinner>
</ng-template>
