<nb-card>
    <nb-card-body>
        <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">

            <div *ngIf="isTokenVerified == false && errorMessage != ''">
                <h1>Error occurred</h1>
                <br/>
                <p class="text-muted" style="white-space: pre;">{{errorMessage}}</p>
                <div class="row">
                    <div class="col-6">
                        <a [routerLink]="['/auth/login']" class="btn btn-link px-0">Back to Login</a>
                    </div>
                </div>
            </div>
            <div *ngIf="isTokenVerified == false && submitted == true">
                <h1>Checking password reset token</h1>
                <br/>
            </div>

            <div *ngIf="isTokenVerified == true && showConfirmation == false">
                <h2 class="title">Change password</h2>
                <small class="form-text sub-title">Please enter a new password</small>

                <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit(passwordResetForm.value)" autocomplete="nope">
                    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                        <div>
                            <strong>Oh snap!</strong>
                        </div>
                        <div>{{errorMessage}}</div>
                        <!-- <div *ngFor="let error of errors">{{ error }}</div> -->
                    </div>

                    <div class="form-group" [ngClass]="{'has-danger': !isValid('password')}">
                        <label for="password" class="sr-only">Password</label>
                        <input name="password" [formControl]="passwordResetForm.controls['password']" type="password" id="password" class="form-control" placeholder="Password" [class.form-control-danger]="!isValid('password')">
                        <small class="form-text error" *ngIf="!formErrors.password.valid">{{formErrors.password.message}}</small>
                    </div>

                    <div class="form-group" [ngClass]="{'has-danger': !isValid('confirmPassword')}">
                        <label for="confirmPassword" class="sr-only">Confirm Password</label>
                        <input name="confirmPassword" [formControl]="passwordResetForm.controls['confirmPassword']" type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password" [class.form-control-danger]="!isValid('confirmPassword')">
                        <small class="form-text error" *ngIf="!formErrors.confirmPassword.valid">{{formErrors.confirmPassword.message}}</small>
                    </div>
                    <button [disabled]="submitted || !passwordResetForm.valid" class="btn btn-block btn-hero-success" [class.btn-pulse]="submitted">Reset Password</button>
                    
                </form>
            </div>
            <div *ngIf="isTokenVerified == true && showConfirmation == true">
                <h1>Password Updated</h1>
                <br/>
                <p class="text-muted">
                    Your account password has been updated. Please login now.
                </p>
                <div class="row">
                    <div class="col-6">
                        <a [routerLink]="['/auth/login']" class="btn btn-link px-0">Back to Login</a>
                    </div>
                </div>
            </div>

            <div class="links col-sm-12">
                <small class="form-text">
	        		Already have an account? <a routerLink="/auth/login"><strong>Sign In</strong></a>
		        </small>
		        <small class="form-text">
	        		<a routerLink="/auth/register"><strong>Sign Up</strong></a>
		        </small>
            </div>

        </div>
    </nb-card-body>
</nb-card>
