@import '../@theme/styles/themes';

@include nb-install-component() {
  .title {
    h4 {
      font-size: 1.125rem;
      font-weight: bold;
      color: nb-theme(color-white);
      padding: 1.25rem;
      font-family: monospace;
    }
    span {
      font-size: .85rem;
      color: nb-theme(color-white);
      padding: 1.25rem;
      font-family: monospace;
    }
  }

  .box-minmax {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: nb-theme(color-white);
    span:first-child{
      margin-left: 10px;
    }
  }

  .range-slider {
    width: 100%;
  }

  .ld-range {
    margin-top: 29px;
    width: 100%;
    -webkit-appearance: none;
    &:focus {
        outline: none;
    }
    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 1px;
      cursor: pointer;
      box-shadow: none;
      background: nb-theme(color-white);
      border-radius: 0px;
      border: 0px solid nb-theme(color-primary);
    }
    &::-moz-range-track {
      width: 100%;
      height: 1px;
      cursor: pointer;
      box-shadow: none;
      background: nb-theme(color-white);
      border-radius: 0px;
      border: 0px solid nb-theme(color-primary);
    }
    &::-webkit-slider-thumb {
      box-shadow: none;
      border: 0px solid nb-theme(color-white);
      box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
      height: 42px;
      width: 22px;
      border-radius: 22px;
      background: rgba(nb-theme(color-white),1);
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -20px;
    }
    &::-moz-range-thumb {
      box-shadow: none;
      border: 0px solid nb-theme(color-white);
      box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
      height: 42px;
      width: 22px;
      border-radius: 22px;
      background: rgba(nb-theme(color-white),1);
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -20px;
    }
    &::-moz-focus-outer {
      border: 0;
    }
  }

  .ld-label {
    position: relative;
    transform-origin: center center;
    display: block;
    width: 98px;
    height: 98px;
    background: transparent;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    padding-top: 22px;
    box-sizing: border-box;
    border: 2px solid nb-theme(color-white);
    margin-top: 20px;
    margin-left: -38px;
    left: attr(value);
    color: nb-theme(color-white);
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 36px;
    &::after {
        content: "";
        display: block;
        font-size: 20px;
        letter-spacing: 0.07em;
        margin-top: -2px;
    }
  }

  .toolbar {
    padding-bottom: 0;;
  }


  /*input[type='range'] {
    display: block;
    margin: 1em auto 0;
    padding: 0;
    height: 2em;
    background: none;
    font-size: 1em;
    cursor: pointer;
    width: 100%;
  }
  input[type='range'], input[type='range']::-webkit-slider-runnable-track, input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.25em;
    background: nb-theme(color-primary);
  }
  input[type='range']::-moz-range-track {
    width: 100%;
    height: 0.25em;
    background: nb-theme(color-primary);
  }
  input[type='range']::-ms-track {
    border: none;
    width: 100%;
    height: 0.25em;
    background: nb-theme(color-primary);
    color: transparent;
  }
  input[type='range']::-moz-range-progress {
    height: 0.25em;
    background: nb-theme(color-white);
  }
  input[type='range']::-ms-fill-lower {
    background: nb-theme(color-white);
  }
  input[type='range']::-webkit-slider-thumb {
    margin-top: -0.5em;
    border: none;
    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
    background: nb-theme(color-white);
  }
  input[type='range']::-moz-range-thumb {
    border: none;
    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
    background: nb-theme(color-white);
  }
  input[type='range']::-ms-thumb {
    border: none;
    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
    background: nb-theme(color-white);
  }
  input[type='range']::-ms-tooltip {
    display: none;
  }
  input[type='range'] + label {
    display: block;
    text-align: center;
  }
  input[type='range']:focus {
    outline: none;
  }*/
}