<nb-card>
	<nb-card-body>
		<div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
			<!-- <div class="row">
				<div class="col-sm-12 text-sm-center m-">
					<img src="assets/img/logo.png" width="350px" />
					<br /><br />
				</div>
			</div> -->
			<h2 class="title">Forgot Password</h2>
			<small class="form-text sub-title">Enter your email adress and we'll send a link to reset your password</small>

			<div *ngIf="_showConfirmation == false">
				<form [formGroup]="_requestForm" (ngSubmit)="requestPass(_requestForm.value)" autocomplete="nope">
					<div *ngIf="_errorMessage" class="alert alert-danger" role="alert">
						<div>
							<strong>Oh snap!</strong>
						</div>
						<div>{{_errorMessage}}</div>
						<!-- <div *ngFor="let error of errors">{{ error }}</div> -->
					</div>

					<div class="form-group" [ngClass]="{'has-danger': !_isValid('email')}">
						<label for="email" class="sr-only">Email address</label>
						<input name="email" [formControl]="_requestForm.controls['email']" pattern=".+@.+..+" id="input-email" class="form-control" placeholder="Email address" [class.form-control-danger]="!_isValid('email')" autofocus>
						<small class="form-text error" *ngIf="!_formErrors.email.valid">{{_formErrors.email.message}}</small>
					</div>
					<button [disabled]="_submitted || !_requestForm.valid" class="btn btn-block btn-hero-success" [class.btn-pulse]="_submitted">Request password</button>
					
				</form>
			</div>
			<div *ngIf="_showConfirmation == true">
                <h1>Check Your Email</h1>
                <br/>
                <p class="text-muted">
                    We sent password reset instructions to {{_requestForm.controls['email'].value}}.
                    <br/>
                    <br/> Remember to check your spam or junk folder if you don't see it.
                </p>
                <div class="row">
                    <div class="col-6">
                        <a [routerLink]="['/auth/login']" class="btn btn-link px-0">Back to Login</a>
                    </div>
                </div>
            </div>

			<div class="links col-sm-12">
				<small class="form-text">
					Already have an account? <a routerLink="/auth/login"><strong>Sign In</strong></a>
				</small>
				<small class="form-text">
					<a routerLink="/auth/register"><strong>Sign Up</strong></a>
				</small>
			</div>

		</div>
	</nb-card-body>
</nb-card>
