<h2 class="title">Campbell</h2>
<div class="result-form" [formGroup]="data">
    <div class="row">
        <div class="col-sm-3" [ngClass]="{'has-danger': data.controls.initialSpin.invalid && data.controls.initialSpin.dirty}">
            <!--initialSpin-->
            <label for="initialSpin">Initial Spin <span class="required">*</span></label>
            <input type="number" step="any" class="form-control" id="initialSpin" placeholder="Initial Spin Speed" formControlName="initialSpin">
            <p class="unit">(rpm)</p>
            <show-errors [control]="data.controls.initialSpin"></show-errors>
        </div>
        <div class="col-sm-3" [ngClass]="{'has-danger': data.controls.finalSpin.invalid && data.controls.finalSpin.dirty}">
            <!--finalSpin-->
            <label for="finalSpin">Final Spin <span class="required">*</span></label>
            <input type="number" step="any" class="form-control" id="finalSpin" placeholder="Final Spin Speed" formControlName="finalSpin">
            <p class="unit">(rpm)</p>
            <show-errors [control]="data.controls.finalSpin"></show-errors>
        </div>
        <div class="col-sm-3" [ngClass]="{'has-danger': data.controls.steps.invalid && data.controls.steps.dirty}">
            <!--steps-->
            <label for="steps">Steps <span class="required">*</span></label>
            <input type="number" step="any" class="form-control" id="steps" placeholder="Number Steps" formControlName="steps">
            <p class="unit">(u.)</p>
            <show-errors [control]="data.controls.steps"></show-errors>
        </div>
        <div class="col-sm-3" [ngClass]="{'has-danger': data.controls.frequencies.invalid && data.controls.frequencies.dirty}">
            <!--frequencies-->
            <label for="frequencies">Natural Frequencies <span class="required">*</span></label>
            <input type="number" step="any" class="form-control" id="frequencies" placeholder="Number of Natural Frequencies" formControlName="frequencies">
            <p class="unit">(u.)</p>
            <show-errors [control]="data.controls.frequencies"></show-errors>
        </div>
    </div>

    <div class="row" style="margin-top: 15px;">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-info" [disabled]="!data.valid" (click)="close()">Save</button>
        </div>
    </div>
</div>