<h2 class="title">Torsional Analysis</h2>
<div *ngIf="!length">
    <h2>No section dimensions!</h2>
</div>
<div class="result-form" [formGroup]="_data">
    <div class="row">
        <div class="col-sm-3" [ngClass]="{'has-danger': _data.controls.initialFrequency.invalid && _data.controls.initialFrequency.dirty}">
            <!--initialFrequency-->
            <label for="initialFrequency">Initial Frequency <span class="required">*</span></label>
            <input type="number" step="any" class="form-control" id="initialFrequency" placeholder="Initial Frequency" formControlName="initialFrequency">
            <p class="unit">(Hz)</p>
            <show-errors [control]="_data.controls.initialFrequency"></show-errors>
        </div>
        <div class="col-sm-3" [ngClass]="{'has-danger': _data.controls.finalFrequency.invalid && _data.controls.finalFrequency.dirty}">
            <!--finalFrequency-->
            <label for="finalFrequency">Final Frequency <span class="required">*</span></label>
            <input type="number" step="any" class="form-control" id="finalFrequency" placeholder="Final Frequency" formControlName="finalFrequency">
            <p class="unit">(Hz)</p>
            <show-errors [control]="_data.controls.finalFrequency"></show-errors>
        </div>
        <div class="col-sm-3" [ngClass]="{'has-danger': _data.controls.steps.invalid && _data.controls.steps.dirty}">
            <!--steps-->
            <label for="steps">Steps <span class="required">*</span></label>
            <input type="number" step="any" class="form-control" id="steps" placeholder="Number of Steps" formControlName="steps">
            <p class="unit">(u.)</p>
            <show-errors [control]="_data.controls.steps"></show-errors>
        </div>
        <div class="col-sm-3" [ngClass]="{'has-danger': _data.controls.modes.invalid && _data.controls.modes.dirty}">
            <!--modes-->
            <label for="modes">Number of Modes <span class="required">*</span></label>
            <input type="number" step="any" class="form-control" id="modes" placeholder="Number of Modes" formControlName="modes">
            <p class="unit">(u.)</p>
            <show-errors [control]="_data.controls.modes"></show-errors>
        </div>
    </div>

    <!-- responses -->
    <div class="form-group-wrapper">
        <div class="form-group" formArrayName="responses">
            <div *ngFor="let bearing of _data.get('responses'); let i=index">
                <div class="panel-heading">
                  <span>Response Point {{i + 1}}</span>
                  <span (click)="removeResponse(i)"> <i class="fa fa-times"></i></span>
                </div>

                <div class="panel-body" [formGroupName]="i">
                    <result-response [showCoord]="_showCoord" [data]="_data.controls['responses'].controls[i]"></result-response>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <show-errors [control]="_data.controls.responses"></show-errors>
            <button class="btn btn-info" (click)="addResponse()">
                Add Response Point <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>

    <!-- phases -->
    <div class="form-group-wrapper">
        <div class="form-group" formArrayName="phases">
            <div *ngFor="let bearing of _data.get('phases'); let i=index">
                <div class="panel-heading">
                  <span>External Force {{i + 1}}</span>
                  <span (click)="removePhase(i)"> <i class="fa fa-times"></i></span>
                </div>

                <div class="panel-body" [formGroupName]="i">
                    <result-tork [data]="_data.controls['phases'].controls[i]"></result-tork>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <show-errors [control]="_data.controls.phases"></show-errors>
            <button class="btn btn-info" (click)="addPhase()">
                Add Tork <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-info" [disabled]="!_data.valid" (click)="close()">Save</button>
        </div>
    </div>
</div>